In [1]:
if __name__ == '__main__':
    print("Hello, World!")

Hello, World!

In [2]:
import math
import os
import random
import re
import sys



if __name__ == '__main__':
    n = int(input().strip())

    if(n%2!= 0):
        print("Weird")
    elif(n%2==0 and n>=2 and n<=5):
        print("Not Weird")
    elif(n%2==0 and n>=6 and n<=20):
        print("Weird")
    else:
        print("Not Weird")

3
Weird

In [3]:
if __name__ == '__main__':
    a = int(input())
    b = int(input())

    print(a+b)
    print(a-b)
    print(a*b)

10
5
15
5
50

In [4]:
if __name__ == '__main__':
    a = int(input())
    b = int(input())

    print(a//b)
    print(a/b)

10
2
5
5.0

In [5]:
if __name__ == '__main__':
    n = int(input())

    for i in range(0,n):
        print(i*i)

5
0
1
4
9
16

In [6]:
def is_leap(year):

    if(year%400 == 0):
        return True
    elif(year%100 == 0):
        return False
    elif(year%4 == 0):
        return True
    else:
        return False



year = int(input())
print(is_leap(year))

2025
False

In [7]:
if __name__ == '__main__':
    n = int(input())

    for i in range(1,n+1):
        print(i,end="")

4
1234